<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>レビュー登録確認</title>
  <link rel="stylesheet" th:href="@{/css/style08.css}">
</head>
<body>
  <h2>レビュー登録確認</h2>

  <form action="@{/regist-review}" method="POST">
      【店舗ID】
      <input type="text" name="restaurantId">
      【利用者ID】
      <input type="text" name="userId">
      【来店日】
      <input type="text" name="visitDate">
      【評価】
      <input type="text" name="rating">
      【一言コメント】
      <input type="text" name="comment">

      <input type="submit" value="登録"　class="btn">
  </form>

</body>
</html>
