<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>レビュー登録確認</title>
  <link rel="stylesheet" th:href="@{/css/style08.css}">
</head>
<body>
  <h2>レビュー登録確認</h2>

      【店舗ID】
      <input type="text" name="restaurantId">
      【利用者ID】
      <input type="text" name="userId">
      【来店日】
      <input type="text" name="visitDate">
      【評価】
      <input type="text" name="rating">
      【一言コメント】
      <input type="text" name="comment">

      <div>
          <p>【店舗ID】</p>
          <p th:text="${reviewRegistForm.restaurantId}"></p>

          <p>【利用者ID】</p>
          <p th:text="${reviewRegistForm.userId}"></p>

          <p>【来店日】</p>
          <p th:text="${reviewRegistForm.visitDate}"></p>

          <p>【評価】</p>
          <p th:text="${reviewRegistForm.rating}"></p>

          <p>【一言コメント】</p>
          <p th:text="${reviewRegistForm.comment}"></p>
        </div>


      <a th:href="@{/show-review-form}"></a>

</body>
</html>
