<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>レビュー登録確認</title>
  <link rel="stylesheet" th:href="@{/css/style09.css}">
</head>
<body>
  <h2>レビュー登録確認</h2>

   <div th:object="${reviewRegistForm}"
      【店舗ID】
      <p th:text="*{restaurantId}"></p>
      【利用者ID】
      <p th:text="*{userId}"></p>
      【来店日】
      <p th:text="*{visitDate}"></p>
      【評価】
      <p th:text="*{rating}"></p>
      【一言コメント】
      <p th:text="*{comment}"></p>
   </div>

      <div>
          【店舗ID】
          <p th:text="${reviewRegistForm.restaurantId}"></p>
          【利用者ID】
          <p th:text="${reviewRegistForm.userId}"></p>
          【来店日】
          <p th:text="${reviewRegistForm.visitDate}"></p>
          【評価】
          <p th:text="${reviewRegistForm.rating}"></p>
          【一言コメント】
          <p th:text="${reviewRegistForm.comment}"></p>
        </div>

      <a th:href="@{/show-review-form}">入力画面に戻る</a>

</body>
</html>
